.main-header {
    padding: 1;
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
    color: white;
    text-align: left;
    max-height: 100px;
}



.portfolio {
    width: 100%;
    height: 100px;
    text-align: center;
    flex: wrap;
    font-size: 20px;
    color:aquamarine;

}

.details{
    position:relative;
    padding: 20px;
    background: white;
    text-align: left;
    
    

}

.details h4{
    font-size: 20px;
}

.details h2{
    font-size: 30px;
}

.details strong{
    font-size: 20px;

}
ul{

    list-style:disc;
    padding: 40px 0;
    line-height: 25px;
}
ul li {
    opacity: 0.7;

}
.button {
    display: flex;
    justify-content: center;
}

.details>a:hover{
    background-color: red;
    color: blue;
}
.main-image{
    flex-wrap: wrap;
    float:right;
    max-height: 1000px;

}  